<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Département Détails</title>
        <% include stylesheets %>
        <link rel="stylesheet" href="/assets/css/school.css"/>
    </head>
    <body>
        <% include header %>
        <main class="container">

            <div class="card">
                <div class="card-header">
                    <p><span class="info-lib">Établissement : </span><%=formations[0].fields.g_ea_lib_vx %></p>
                    <p><span class="info-lib">Région : </span><%=formations[0].fields.lib_reg%></p>
                    <p><span class="info-lib">Département : </span><%=formations[0].fields.lib_dep%> (<%=formations[0].fields.dep %>)</p>
                    <p><span class="info-lib">Nombre de places total : </span>
                        <%if (total_cap == 0) { %>
                            nombre de places inconnu
                        <% }else{ %>
                            <%=total_cap %> places
                        <%} %></p>
                </div>
                <div class="card-body" id="formation-list">
                  <h5 class="card-title">Formations proposées:</h5>
                  <p class="card-text">Voici la liste des formations proposées pour <b>"<%=formations[0].fields.g_ea_lib_vx %></b>", pour chaque formation est précisé
                  le nombre de place qui lui est alloué au sein de l'établissement/institution académique.</p>
                  <div class="list-group">
                    <% formations.forEach(function(formation){ %>
                    <a href="/schools/<%= formation.fields.cod_uai %>/<%= formation.recordid%>" class="list-group-item list-group-item-action">
                        <%=formation.fields.fil_lib_voe_acc %>
                        <%if (formations_cap[formation.recordid] == "inconnu") { %>
                            ( nombre de places inconnu )
                        <% }else{ %>
                            ( <%=formations_cap[formation.recordid]%> places )
                            <div class="progress" style="height: 1em;">
                                <div class="progress-bar" role="progressbar" style="width:<%=formations_cap[formation.recordid]*100/total_cap%>%;" aria-valuenow="<%=formations_cap[formation.recordid]%>" aria-valuemin="0" aria-valuemax="<%=total_cap%>">
                                </div>
                            </div>
                        <%} %>
                    </a>
                    <% }); %>
                  </div>
                </div>
              </div>
        </main>
        <% include footer %>
        <% include scripts %>
        <script src="assets/js/school.js"></script>
    </body>
</html>
